/* Inika font import */
@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap");

/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inika", serif;
  background-image: url(../Images/mobile-img.png),
    url(../Images/Logo-mobile.png);
  background-position: center, center;
  background-size: cover, contain;
  background-repeat: no-repeat, no-repeat;
  background-blend-mode: darken, color-burn;
}

/* header */
.header {
  width: 82vw;
  max-width: 1170px;
  margin: 0 auto;
  height: 4rem;
}

h1,
h2 {
  text-transform: uppercase;
}

h1 {
  font-size: 15px;
  color: #64a5d4;
  position: relative;
  margin-bottom: 0.55rem;
  text-align: center;
}

h1::after {
  content: "";
  background: #000;
  width: 320px;
  height: 4px;
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
}

.banner {
  background: #d9d9d9;
  padding: 0.5rem 0.3rem;
}

.banner h2 {
  font-size: 12px;
  text-align: left;
}

/* input area */
.section-center {
  /* background-color: red; */
  width: 80vw;
  max-width: 1120px;
  margin: 0.35rem auto 0;
  height: calc(100vh - 4rem);
  padding: 0 0.85rem;
  position: relative;
}

label,
option {
  text-transform: capitalize;
  font-size: 13px;
}

.input-section {
  background-color: #fff;
  width: 100%;
  height: 2rem;
  border: 2px dashed black;
  border-radius: 8px;
}

input,
select {
  border: none;
  background: transparent;
  width: 100%;
  height: 100%;
  padding: 0 0.2rem;
}

input{
    font-family: "inika", sans-serif;
}

select {
  appearance: none;
  background-image: url(../Images/chevron-down-solid.svg);
  background-position: center right 2%;
  background-size: 1.2rem auto;
  background-repeat: no-repeat;
}

select option {
  color: gray;
  
}

input[type="date"] {
  position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 1;
  display: block;
  background: url(../Images/mobile-calender.png) center no-repeat;
  margin-right: 2px;
  width: 1.8em;
  height: 1.8em;
}

.passportphoto {
  padding: 0.25em;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

#custom-button {
  border: none;
  background: url(../Images/folder.png) center/cover no-repeat;
  width: 1.5em;
  height: 1.5em;
}

#custom-text {
  font-size: 12px;
}

.upload-btn {
  z-index: 10;
  background: white;
  height: 100%;
  text-align: center;
  font-size: 20px;
}


/* submit button */
.submit-btn {
  cursor: pointer;
  border: none;
  background: #529dd2;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 7px;
  padding: 0.85em 1.2em;
  margin-top: 2rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 1025px) {
  body {
    overflow: hidden;
    background-image: url(../Images/Desktop-img.png),
      url(../Images/Logo-desktop.png);
    background-position: center, center;
    background-size: cover, 512px;
    background-repeat: no-repeat, no-repeat;
    background-blend-mode: darken, color-burn;
  }
  .header {
    height: 6rem;
  }
  h1 {
    font-size: 30px;
  }
  h1::after {
    width: 675px;
  }

  .banner {
    padding: 1rem;
  }

  h2 {
    font-size: 22px;
  }
  .section-center {
    height: calc(100vh - 6rem);
    display: grid;
  }

  label{
    font-size: 16px;
  }

  .input-section{
    width: 80%;
  }
  
  input[type="date"]::-webkit-calender-picker-indicator{
    background: url(../Images/calender-desktop.png) center/cover no-repeat;
  }
  select{
    background-position: center right 1%;
  }

  .box{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 0.75rem;
  }

  .submit-btn{
    font-size: 20px;
  }
}