*{
    top:0;
    left:0;
    margin: auto;

}
.login-form{
    margin-top: 150px;
    background-color:red;
    display:flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}
.center{
    display:grid;
    place-items: center;
    gap:50px;
    background-color: slategray;
   width: 50%;
   height: 300px;
   padding-top:30px;
   border:solid white 2px;
   border-radius: 3px;
}
.login-form input,button{
    width: 50%;
    height: 20px;
    border-radius: 2px;
    border:solid white 1px;
}