
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-cwW {
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  filter: blur(1.25rem);
  background-image: url('REPLACE_IMAGE:85353a1017f8359523e7ef9ba5453e8b1cf2987e');
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;

  .abuad-student-record-registration-form-c4L {
    line-height: 1.3025;
    color: #64a5d4;
    white-space: nowrap;
    width: 110.7rem;
    position: absolute;
    left: 14.6rem;
    top: 2.2rem;
    height: 6.3rem;
    font-size: 4.8rem;
    font-weight: 700;
    font-family: Inika, 'Source Sans Pro';
  }
  .auto-group-4dvl-pAQ {
    left: 9.4rem;
    top: 32.2rem;
    width: 102.7rem;
    height: 52.6rem;
    position: absolute;

    .logo-1-Qnp {
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 53.6rem;
      height: 50rem;
      position: absolute;
      left: 35.8rem;
    }
    .date-of-birth-dd-mm-yyyy--LAg {
      font-weight: 400;
      line-height: 1.3025;
      font-family: Inika, 'Source Sans Pro';
      height: 4.2rem;
      top: 0;
      left: 0;
      font-size: 3.2rem;
      color: #000000;
      white-space: nowrap;
      width: 44.2rem;
      position: absolute;
    }
    .height--A9i {
      top: 36.1rem;
      font-weight: 400;
      line-height: 1.3025;
      font-family: Inika, 'Source Sans Pro';
      left: 76.2rem;
      height: 4.2rem;
      position: absolute;
      font-size: 3.2rem;
      color: #000000;
      white-space: nowrap;
      width: 10.8rem;
    }
    .email-address--TuW {
      left: 0;
      font-weight: 400;
      color: #000000;
      position: absolute;
      height: 4.2rem;
      top: 48.4rem;
      font-size: 3.2rem;
      line-height: 1.3025;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      width: 21.8rem;
    }
    .level--ajE {
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.3025;
      font-family: Inika, 'Source Sans Pro';
      width: 8.8rem;
      height: 4.2rem;
      position: absolute;
      left: 76.2rem;
      white-space: nowrap;
      top: 12rem;
      color: #000000;
    }
    .passport-photo--iU4 {
      font-size: 3.2rem;
      color: #000000;
      white-space: nowrap;
      top: 48.2rem;
      font-weight: 400;
      line-height: 1.3025;
      font-family: Inika, 'Source Sans Pro';
      width: 22.6rem;
      height: 4.2rem;
      position: absolute;
      left: 76.2rem;
    }
    .matriculation-number--2je {
      height: 4.2rem;
      position: absolute;
      top: 12.1rem;
      font-size: 3.2rem;
      line-height: 1.3025;
      color: #000000;
      width: 34.2rem;
      left: 0;
      font-weight: 400;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
    }
    .phone-number--Hfa {
      font-weight: 400;
      position: absolute;
      top: 24.2rem;
      left: 0;
      font-size: 3.2rem;
      line-height: 1.3025;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      width: 23.1rem;
      height: 4.2rem;
    }
    .phone-number--otp {
      line-height: 1.3025;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      left: 0;
      top: 24.2rem;
      font-size: 3.2rem;
      font-weight: 400;
      white-space: nowrap;
      width: 23.1rem;
      height: 4.2rem;
      position: absolute;
    }
    .phone-number--Qdi {
      white-space: nowrap;
      height: 4.2rem;
      position: absolute;
      top: 24.2rem;
      font-weight: 400;
      line-height: 1.3025;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      width: 23.1rem;
      left: 0;
      font-size: 3.2rem;
    }
    .residential-address--dFa {
      font-family: Inika, 'Source Sans Pro';
      width: 29.9rem;
      height: 4.2rem;
      position: absolute;
      top: 36.3rem;
      font-weight: 400;
      line-height: 1.3025;
      color: #000000;
      white-space: nowrap;
      left: 0;
      font-size: 3.2rem;
    }
    .gender--WaG {
      position: absolute;
      left: 76.2rem;
      font-weight: 400;
      line-height: 1.3025;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      width: 11.4rem;
      height: 4.2rem;
      top: 24rem;
      font-size: 3.2rem;
      color: #000000;
    }
    .department--Rx8 {
      font-weight: 400;
      line-height: 1.3025;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      width: 18.4rem;
      height: 4.2rem;
      top: 0;
      font-size: 3.2rem;
      white-space: nowrap;
      position: absolute;
      left: 76.2rem;
    }
    .rectangle-8-kjW {
      top: 5.6rem;
      border: dashed 0.1rem #000000;
      box-sizing: border-box;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      width: 52.6rem;
      left: 0;
      border-radius: 0.7rem;
      height: 5.1rem;
      position: absolute;
    }
    .rectangle-13-C5i {
      height: 5.1rem;
      background-color: #ffffff;
      top: 5.6rem;
      border: dashed 0.1rem #000000;
      box-sizing: border-box;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 0.7rem;
      width: 26.4rem;
      position: absolute;
      left: 76.2rem;
    }
    .rectangle-14-Vac {
      position: absolute;
      top: 41.9rem;
      border-radius: 0.7rem;
      width: 26.4rem;
      left: 76.2rem;
      border: dashed 0.1rem #000000;
      box-sizing: border-box;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      height: 5.1rem;
    }
    .rectangle-9-yVn {
      position: absolute;
      left: 0;
      border: dashed 0.1rem #000000;
      border-radius: 0.7rem;
      width: 52.9rem;
      height: 5.1rem;
      top: 17.7rem;
      box-sizing: border-box;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
    }
    .rectangle-10-HWU {
      position: absolute;
      left: 0;
      border: dashed 0.1rem #000000;
      box-sizing: border-box;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      width: 52.9rem;
      height: 5.1rem;
      border-radius: 0.7rem;
      top: 29.8rem;
    }
    .rectangle-11-x6p {
      top: 41.9rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      border-radius: 0.7rem;
      height: 5.1rem;
      position: absolute;
      border: dashed 0.1rem #000000;
      box-sizing: border-box;
      width: 52.9rem;
      left: 0;
    }
    .rectangle-12-cSG {
      box-sizing: border-box;
      border-radius: 0.7rem;
      width: 26.4rem;
      left: 76.2rem;
      border: dashed 0.1rem #000000;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      height: 5.1rem;
      position: absolute;
      top: 29.6rem;
    }
    .rectangle-16-X3S {
      position: absolute;
      left: 76.3rem;
      top: 17.7rem;
      border: dashed 0.1rem #000000;
      box-sizing: border-box;
      border-radius: 0.7rem;
      width: 26.4rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      height: 5.1rem;
    }
    .pngfind-1-MYG {
      width: 3.3rem;
      height: 3.1rem;
      position: absolute;
      left: 48.8rem;
      top: 6.6rem;
      object-fit: contain;
      vertical-align: top;
    }
    .arrow-1-VPa {
      width: 0;
      height: 0.2236rem;
      position: absolute;
      left: 100.4rem;
      top: 7.9rem;
      object-fit: contain;
      vertical-align: top;
    }
    .arrow-3-C36 {
      vertical-align: top;
      width: 0;
      height: 0.2236rem;
      position: absolute;
      left: 100.4rem;
      top: 32.1rem;
      object-fit: contain;
    }
    .select-jYp {
      top: 6.6rem;
      font-weight: 400;
      white-space: nowrap;
      width: 6.3rem;
      height: 3.2rem;
      left: 78rem;
      color: #b8b8b8;
      font-family: Inika, 'Source Sans Pro';
      position: absolute;
      font-size: 2.4rem;
      line-height: 1.3025;
    }
    .select-rNY {
      color: #b8b8b8;
      white-space: nowrap;
      width: 6.3rem;
      position: absolute;
      left: 78rem;
      top: 30.8rem;
      font-size: 2.4rem;
      height: 3.2rem;
      font-weight: 400;
      line-height: 1.3025;
      font-family: Inika, 'Source Sans Pro';
    }
    .ft-0-in-APE {
      position: absolute;
      color: #b8b8b8;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.3025;
      width: 8.4rem;
      height: 3.2rem;
      left: 77.7rem;
      top: 42.9rem;
    }
    .item-234-123-456-789-tKE {
      top: 30.8rem;
      font-size: 2.4rem;
      line-height: 1.3025;
      color: #b8b8b8;
      width: 19rem;
      height: 3.2rem;
      left: 5.2rem;
      white-space: nowrap;
      position: absolute;
      font-weight: 400;
      font-family: Inika, 'Source Sans Pro';
    }
    .pngwing-1-wHW {
      height: 2.4rem;
      position: absolute;
      left: 0.7rem;
      top: 31.5rem;
      object-fit: cover;
      vertical-align: top;
      width: 3.4rem;
    }
  }
  .line-1-qdn {
    background-color: #000000;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    width: 95.8rem;
    height: 0.7rem;
    position: absolute;
    left: 24.1rem;
    top: 9.9rem;
  }
  .auto-group-ejfe-m1e {
    color: #000000;
    padding: 1.6rem 2.2rem 2rem 2.2rem;
    width: 119.1rem;
    left: 12.4rem;
    font-weight: 700;
    filter: blur(0.2rem);
    white-space: nowrap;
    background-color: #d9d9d9;
    box-sizing: border-box;
    position: absolute;
    top: 14.1rem;
    font-family: Inika, 'Source Sans Pro';
    height: 7.8rem;
    font-size: 3.2rem;
    line-height: 1.3025;
  }
  .auto-group-n7yn-bmN {
    width: 126.8rem;
    height: 5.1rem;
    position: absolute;
    left: 9.4rem;
    top: 24.6rem;
    display: flex;
    column-gap: 1.1rem;
    align-items: center;

    .surname--6CL {
      margin-bottom: 0.1rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.3025;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .rectangle-3-mpG {
      background-color: #ffffff;
      border-radius: 0.7rem;
      flex-shrink: 0;
      width: 23rem;
      height: 5.1rem;
      border: dashed 0.1rem #000000;
      box-sizing: border-box;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }
    .first-name--Hnc {
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.1rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.3025;
      color: #000000;
    }
    .rectangle-6-1Ti {
      background-color: #ffffff;
      border-radius: 0.7rem;
      flex-shrink: 0;
      width: 23rem;
      height: 5.1rem;
      border: dashed 0.1rem #000000;
      box-sizing: border-box;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }
    .middle-name--LF6 {
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.3025;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.3rem;
    }
    .rectangle-7-fYG {
      box-sizing: border-box;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      border-radius: 0.7rem;
      flex-shrink: 0;
      width: 23rem;
      height: 5.1rem;
      border: dashed 0.1rem #000000;
    }
  }
  .auto-group-kcqt-PDN {
    position: absolute;
    left: 9.4rem;
    top: 86rem;
    display: flex;
    align-items: center;
    width: 102.6rem;
    height: 5.3rem;

    .auto-group-ogax-fwa {
      padding: 0.6rem 0.7rem;
      width: 52.6rem;
      border: dashed 0.1rem #000000;
      margin: 0.2rem 23.6rem 0rem 0rem;
      font-weight: 400;
      color: #b8b8b8;
      font-family: Inika, 'Source Sans Pro';
      border-radius: 0.7rem;
      box-sizing: border-box;
      white-space: nowrap;
      background-color: #ffffff;
      flex-shrink: 0;
      line-height: 1.3025;
      font-size: 2.4rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      height: 5.1rem;
    }
    .auto-group-wdkz-Vvc {
      margin-bottom: 0.2rem;
      display: flex;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1rem 1rem 0.9rem 1.3rem;
      align-items: center;
      border: dashed 0.1rem #000000;
      background-color: #ffffff;
      border-radius: 0.7rem;

      .import-jpg-img-cEY {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 4.3rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #b8b8b8;
        font-family: Inika, 'Source Sans Pro';
      }
      .folder-1484-1-X6c {
        height: 1.9rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        width: 2.1rem;
      }
    }
  }
  .auto-group-nfnu-P8p {
    color: #ffffff;
    display: flex;
    border-radius: 0.7rem;
    width: 28rem;
    height: 9.2rem;
    top: 92.5rem;
    left: 61.5rem;
    position: absolute;
    font-size: 3.2rem;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
    background-color: #529dd2;
    font-weight: 400;
    line-height: 1.3025;
    font-family: Inika, 'Source Sans Pro';
  }
}
