
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 43rem;
}.iphone-14-15-pro-max-1-dJc {
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 93.2rem;
  position: relative;

  .priscilla-du-preez-ggez9oyi-pe-unsplash-2-J9r {
    background-image: url('REPLACE_IMAGE:85353a1017f8359523e7ef9ba5453e8b1cf2987e');
    opacity: 0.5;
    height: 99.5rem;
    position: relative;
    background-position: -48.7412rem 0;
    width: 45.2rem;
    left: 0.9rem;
    top: 0;
    background-size: 320.536% 97.085%;
  }
  .logo-2-xkC {
    object-fit: contain;
    vertical-align: top;
    width: 53.6rem;
    height: 50rem;
    position: absolute;
    left: 0;
    top: 21.6rem;
  }
  .abuad-student-record-registration-form-hhn {
    position: absolute;
    left: 4.1rem;
    font-weight: 700;
    color: #64a5d4;
    font-family: Inika, 'Source Sans Pro';
    white-space: nowrap;
    height: 2rem;
    top: 1.7rem;
    font-size: 1.5rem;
    line-height: 1.3025;
    width: 34.6rem;
  }
  .line-2-yvC {
    position: absolute;
    left: 4.4rem;
    top: 4.2rem;
    background-color: #000000;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    width: 34.1rem;
    height: 0.7rem;
  }
  .rectangle-18-VNk {
    height: 2.6rem;
    position: absolute;
    left: 3.7rem;
    top: 5.1rem;
    filter: blur(0.2rem);
    background-color: #d9d9d9;
    width: 35.5rem;
  }
  .student-data-pfv {
    width: 9rem;
    height: 1.6rem;
    left: 4.4rem;
    font-family: Inika, 'Source Sans Pro';
    color: #000000;
    white-space: nowrap;
    position: absolute;
    top: 5.7rem;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.3025;
  }
  .surname--WYk {
    font-size: 1.3rem;
    line-height: 1.3025;
    color: #000000;
    white-space: nowrap;
    width: 5.8rem;
    position: absolute;
    left: 2.4rem;
    top: 8.6rem;
    height: 1.7rem;
    font-weight: 400;
    font-family: Inika, 'Source Sans Pro';
  }
  .middle-names-CgU {
    height: 1.7rem;
    top: 14.1rem;
    line-height: 1.3025;
    color: #000000;
    white-space: nowrap;
    width: 9.6rem;
    position: absolute;
    left: 2.4rem;
    font-size: 1.3rem;
    font-weight: 400;
    font-family: Inika, 'Source Sans Pro';
  }
  .rectangle-18-t3W {
    height: 2.7rem;
    position: absolute;
    left: 2.4rem;
    background-color: #ffffff;
    width: 17.5rem;
    top: 10.3rem;
    border: dashed 0.1rem #000000;
    box-sizing: border-box;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 0.3rem;
  }
  .rectangle-28-yak {
    top: 53.2rem;
    box-sizing: border-box;
    width: 17.5rem;
    left: 2.4rem;
    border: dashed 0.1rem #000000;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 0.3rem;
    height: 2.7rem;
    position: absolute;
  }
  .rectangle-30-tBv {
    left: 2.4rem;
    border: dashed 0.1rem #000000;
    box-sizing: border-box;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    height: 2.7rem;
    position: absolute;
    border-radius: 0.3rem;
    width: 17.5rem;
    top: 60.1rem;
  }
  .rectangle-20-xha {
    width: 38.3rem;
    left: 2.4rem;
    top: 15.8rem;
    border: dashed 0.1rem #000000;
    box-sizing: border-box;
    border-radius: 0.3rem;
    height: 2.7rem;
    position: absolute;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
  }
  .rectangle-21-qmN {
    height: 2.7rem;
    left: 2.4rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    width: 38.3rem;
    top: 21.6rem;
    border: dashed 0.1rem #000000;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 0.3rem;
    position: absolute;
  }
  .rectangle-22-Yfn {
    width: 38.3rem;
    top: 27.4rem;
    border: dashed 0.1rem #000000;
    border-radius: 0.3rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    height: 2.7rem;
    position: absolute;
    left: 2.3rem;
    box-sizing: border-box;
  }
  .rectangle-23-CEY {
    background-color: #ffffff;
    border-radius: 0.3rem;
    width: 38.3rem;
    height: 2.7rem;
    border: dashed 0.1rem #000000;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 2.4rem;
    top: 33.7rem;
    box-sizing: border-box;
  }
  .rectangle-24-GEQ {
    position: absolute;
    left: 2.4rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 0.3rem;
    width: 38.3rem;
    height: 2.7rem;
    top: 40rem;
    border: dashed 0.1rem #000000;
    box-sizing: border-box;
    background-color: #ffffff;
  }
  .rectangle-25-B6U {
    width: 38.3rem;
    height: 2.7rem;
    position: absolute;
    top: 46.3rem;
    border: dashed 0.1rem #000000;
    box-sizing: border-box;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 0.3rem;
    left: 2.4rem;
    background-color: #ffffff;
  }
  .rectangle-19-4RA {
    box-sizing: border-box;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 0.3rem;
    border: dashed 0.1rem #000000;
    height: 2.7rem;
    position: absolute;
    left: 23.4rem;
    top: 10.3rem;
    background-color: #ffffff;
    width: 17.3rem;
  }
  .rectangle-29-Zsi {
    width: 17.3rem;
    height: 2.7rem;
    left: 23.4rem;
    top: 53.2rem;
    border: dashed 0.1rem #000000;
    box-sizing: border-box;
    background-color: #ffffff;
    position: absolute;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 0.3rem;
  }
  .rectangle-31-t9J {
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    width: 17.3rem;
    height: 2.7rem;
    position: absolute;
    border: dashed 0.1rem #000000;
    left: 23.4rem;
    top: 60.1rem;
    box-sizing: border-box;
    border-radius: 0.3rem;
  }
  .rectangle-33-bJc {
    height: 2.7rem;
    left: 12.8rem;
    top: 66.8rem;
    background-color: #ffffff;
    border-radius: 0.3rem;
    width: 17.3rem;
    position: absolute;
    border: dashed 0.1rem #000000;
    box-sizing: border-box;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  }
  .first-name--B1v {
    top: 8.6rem;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.3025;
    color: #000000;
    width: 7rem;
    position: absolute;
    font-family: Inika, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.7rem;
    left: 23.4rem;
  }
  .date-of-birth-dd-mm-yyyy--pqa {
    font-weight: 400;
    white-space: nowrap;
    width: 18rem;
    height: 1.7rem;
    top: 19.9rem;
    font-size: 1.3rem;
    font-family: Inika, 'Source Sans Pro';
    position: absolute;
    left: 2.4rem;
    line-height: 1.3025;
    color: #000000;
  }
  .matriculation-number--u6L {
    height: 1.7rem;
    position: absolute;
    left: 2.4rem;
    line-height: 1.3025;
    color: #000000;
    white-space: nowrap;
    width: 13.9rem;
    top: 25.7rem;
    font-size: 1.3rem;
    font-weight: 400;
    font-family: Inika, 'Source Sans Pro';
  }
  .phone-number--9Fa {
    width: 9.4rem;
    height: 1.7rem;
    position: absolute;
    left: 2.4rem;
    line-height: 1.3025;
    color: #000000;
    top: 32rem;
    font-size: 1.3rem;
    font-weight: 400;
    font-family: Inika, 'Source Sans Pro';
    white-space: nowrap;
  }
  .residential-address--3rk {
    top: 38.3rem;
    font-weight: 400;
    line-height: 1.3025;
    width: 12.2rem;
    height: 1.7rem;
    position: absolute;
    left: 2.4rem;
    font-size: 1.3rem;
    color: #000000;
    font-family: Inika, 'Source Sans Pro';
    white-space: nowrap;
  }
  .email-address--xip {
    width: 8.9rem;
    height: 1.7rem;
    font-weight: 400;
    color: #000000;
    font-family: Inika, 'Source Sans Pro';
    position: absolute;
    left: 2.4rem;
    top: 44.6rem;
    font-size: 1.3rem;
    line-height: 1.3025;
    white-space: nowrap;
  }
  .department--Fxp {
    white-space: nowrap;
    width: 7.5rem;
    height: 1.7rem;
    position: absolute;
    left: 2.4rem;
    color: #000000;
    top: 51.3rem;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.3025;
    font-family: Inika, 'Source Sans Pro';
  }
  .gender--jsz {
    position: absolute;
    color: #000000;
    line-height: 1.3025;
    font-family: Inika, 'Source Sans Pro';
    width: 4.7rem;
    height: 1.7rem;
    left: 2.4rem;
    top: 57.8rem;
    font-size: 1.3rem;
    font-weight: 400;
    white-space: nowrap;
  }
  .height--ocx {
    font-size: 1.3rem;
    font-weight: 400;
    color: #000000;
    font-family: Inika, 'Source Sans Pro';
    white-space: nowrap;
    left: 23.4rem;
    top: 51.3rem;
    position: absolute;
    line-height: 1.3025;
    width: 4.4rem;
    height: 1.7rem;
  }
  .blood-type--vxU {
    height: 1.7rem;
    position: absolute;
    font-size: 1.3rem;
    line-height: 1.3025;
    color: #000000;
    font-family: Inika, 'Source Sans Pro';
    white-space: nowrap;
    width: 7rem;
    top: 57.8rem;
    font-weight: 400;
    left: 23.4rem;
  }
  .passport-photo--ReL {
    font-family: Inika, 'Source Sans Pro';
    width: 9.2rem;
    height: 1.7rem;
    position: absolute;
    top: 64.5rem;
    color: #000000;
    white-space: nowrap;
    left: 16.9rem;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.3025;
  }
  .pngfind-2-x8U {
    left: 37.9rem;
    top: 22.1rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
  }
  .rectangle-32-PUg {
    top: 71.3rem;
    background-color: #529dd2;
    border-radius: 0.7rem;
    width: 14rem;
    height: 4.6rem;
    position: absolute;
    left: 14.6rem;
  }
  .submit-VXi {
    position: absolute;
    font-size: 1.6rem;
    white-space: nowrap;
    top: 72.6rem;
    font-weight: 400;
    line-height: 1.3025;
    color: #ffffff;
    font-family: Inika, 'Source Sans Pro';
    width: 6.3rem;
    height: 2.1rem;
    left: 18.5rem;
  }
  .select-ccL {
    height: 1.6rem;
    position: absolute;
    left: 3.1rem;
    font-size: 1.2rem;
    color: #b8b8b8;
    width: 3.2rem;
    top: 53.8rem;
    font-weight: 400;
    line-height: 1.3025;
    font-family: Inika, 'Source Sans Pro';
    white-space: nowrap;
  }
  .select-XzC {
    height: 1.6rem;
    line-height: 1.3025;
    color: #b8b8b8;
    white-space: nowrap;
    font-weight: 400;
    font-family: Inika, 'Source Sans Pro';
    width: 3.2rem;
    position: absolute;
    left: 3rem;
    top: 60.7rem;
    font-size: 1.2rem;
  }
  .select-GB6 {
    left: 24rem;
    top: 60.7rem;
    width: 3.2rem;
    height: 1.6rem;
    position: absolute;
    color: #b8b8b8;
    font-family: Inika, 'Source Sans Pro';
    white-space: nowrap;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.3025;
  }
  .import-image-mNk {
    color: #b8b8b8;
    width: 7.6rem;
    top: 67.4rem;
    left: 17.7rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.3025;
    font-family: Inika, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.6rem;
    position: absolute;
  }
  .arrow-5-gkc {
    vertical-align: top;
    width: 0;
    height: 0.2236rem;
    position: absolute;
    left: 18.4rem;
    top: 54.8rem;
    object-fit: contain;
  }
  .arrow-6-bMn {
    left: 18.4rem;
    top: 61.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 0;
    height: 0.2236rem;
    position: absolute;
  }
  .arrow-7-L4U {
    height: 0.2236rem;
    position: absolute;
    left: 39.2rem;
    top: 61.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 0;
  }
  .ft-0-in-sq6 {
    height: 1.2rem;
    position: absolute;
    white-space: nowrap;
    width: 4.2rem;
    left: 24rem;
    top: 53.9rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
    color: #b8b8b8;
    font-family: Inika, 'Source Sans Pro';
  }
}
