
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 43rem;
}.iphone-14-15-pro-max-1-dJc {
  width: 100%;
  height: 93.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.iphone-14-15-pro-max-1-dJc .priscilla-du-preez-ggez9oyi-pe-unsplash-2-J9r {
  opacity: 0.5;
  width: 45.2rem;
  height: 99.5rem;
  position: relative;
  left: 0.9rem;
  top: 0;
  background-size: 320.536% 97.085%;
  background-position: -48.7412rem 0;
  background-image: url('../assets/priscilla-du-preez-ggez9oyi-pe-unsplash-2.png');
}
.iphone-14-15-pro-max-1-dJc .logo-2-xkC {
  width: 53.6rem;
  height: 50rem;
  position: absolute;
  left: 0;
  top: 21.6rem;
  object-fit: contain;
  vertical-align: top;
}
.iphone-14-15-pro-max-1-dJc .abuad-student-record-registration-form-hhn {
  width: 34.6rem;
  height: 2rem;
  position: absolute;
  left: 4.1rem;
  top: 1.7rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3025;
  color: #64a5d4;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-1-dJc .line-2-yvC {
  width: 34.1rem;
  height: 0.7rem;
  position: absolute;
  left: 4.4rem;
  top: 4.2rem;
  background-color: #000000;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.iphone-14-15-pro-max-1-dJc .rectangle-18-VNk {
  width: 35.5rem;
  height: 2.6rem;
  position: absolute;
  left: 3.7rem;
  top: 5.1rem;
  filter: blur(0.2rem);
  background-color: #d9d9d9;
}
.iphone-14-15-pro-max-1-dJc .student-data-pfv {
  width: 9rem;
  height: 1.6rem;
  position: absolute;
  left: 4.4rem;
  top: 5.7rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-1-dJc .surname--WYk {
  width: 5.8rem;
  height: 1.7rem;
  position: absolute;
  left: 2.4rem;
  top: 8.6rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-1-dJc .middle-names-CgU {
  width: 9.6rem;
  height: 1.7rem;
  position: absolute;
  left: 2.4rem;
  top: 14.1rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-1-dJc .rectangle-18-t3W {
  width: 17.5rem;
  height: 2.7rem;
  position: absolute;
  left: 2.4rem;
  top: 10.3rem;
  border: dashed 0.1rem #000000;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.3rem;
}
.iphone-14-15-pro-max-1-dJc .rectangle-28-yak {
  width: 17.5rem;
  height: 2.7rem;
  position: absolute;
  left: 2.4rem;
  top: 53.2rem;
  border: dashed 0.1rem #000000;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.3rem;
}
.iphone-14-15-pro-max-1-dJc .rectangle-30-tBv {
  width: 17.5rem;
  height: 2.7rem;
  position: absolute;
  left: 2.4rem;
  top: 60.1rem;
  border: dashed 0.1rem #000000;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.3rem;
}
.iphone-14-15-pro-max-1-dJc .rectangle-20-xha {
  width: 38.3rem;
  height: 2.7rem;
  position: absolute;
  left: 2.4rem;
  top: 15.8rem;
  border: dashed 0.1rem #000000;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.3rem;
}
.iphone-14-15-pro-max-1-dJc .rectangle-21-qmN {
  width: 38.3rem;
  height: 2.7rem;
  position: absolute;
  left: 2.4rem;
  top: 21.6rem;
  border: dashed 0.1rem #000000;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.3rem;
}
.iphone-14-15-pro-max-1-dJc .rectangle-22-Yfn {
  width: 38.3rem;
  height: 2.7rem;
  position: absolute;
  left: 2.3rem;
  top: 27.4rem;
  border: dashed 0.1rem #000000;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.3rem;
}
.iphone-14-15-pro-max-1-dJc .rectangle-23-CEY {
  width: 38.3rem;
  height: 2.7rem;
  position: absolute;
  left: 2.4rem;
  top: 33.7rem;
  border: dashed 0.1rem #000000;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.3rem;
}
.iphone-14-15-pro-max-1-dJc .rectangle-24-GEQ {
  width: 38.3rem;
  height: 2.7rem;
  position: absolute;
  left: 2.4rem;
  top: 40rem;
  border: dashed 0.1rem #000000;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.3rem;
}
.iphone-14-15-pro-max-1-dJc .rectangle-25-B6U {
  width: 38.3rem;
  height: 2.7rem;
  position: absolute;
  left: 2.4rem;
  top: 46.3rem;
  border: dashed 0.1rem #000000;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.3rem;
}
.iphone-14-15-pro-max-1-dJc .rectangle-19-4RA {
  width: 17.3rem;
  height: 2.7rem;
  position: absolute;
  left: 23.4rem;
  top: 10.3rem;
  border: dashed 0.1rem #000000;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.3rem;
}
.iphone-14-15-pro-max-1-dJc .rectangle-29-Zsi {
  width: 17.3rem;
  height: 2.7rem;
  position: absolute;
  left: 23.4rem;
  top: 53.2rem;
  border: dashed 0.1rem #000000;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.3rem;
}
.iphone-14-15-pro-max-1-dJc .rectangle-31-t9J {
  width: 17.3rem;
  height: 2.7rem;
  position: absolute;
  left: 23.4rem;
  top: 60.1rem;
  border: dashed 0.1rem #000000;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.3rem;
}
.iphone-14-15-pro-max-1-dJc .rectangle-33-bJc {
  width: 17.3rem;
  height: 2.7rem;
  position: absolute;
  left: 12.8rem;
  top: 66.8rem;
  border: dashed 0.1rem #000000;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.3rem;
}
.iphone-14-15-pro-max-1-dJc .first-name--B1v {
  width: 7rem;
  height: 1.7rem;
  position: absolute;
  left: 23.4rem;
  top: 8.6rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-1-dJc .date-of-birth-dd-mm-yyyy--pqa {
  width: 18rem;
  height: 1.7rem;
  position: absolute;
  left: 2.4rem;
  top: 19.9rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-1-dJc .matriculation-number--u6L {
  width: 13.9rem;
  height: 1.7rem;
  position: absolute;
  left: 2.4rem;
  top: 25.7rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-1-dJc .phone-number--9Fa {
  width: 9.4rem;
  height: 1.7rem;
  position: absolute;
  left: 2.4rem;
  top: 32rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-1-dJc .residential-address--3rk {
  width: 12.2rem;
  height: 1.7rem;
  position: absolute;
  left: 2.4rem;
  top: 38.3rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-1-dJc .email-address--xip {
  width: 8.9rem;
  height: 1.7rem;
  position: absolute;
  left: 2.4rem;
  top: 44.6rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-1-dJc .department--Fxp {
  width: 7.5rem;
  height: 1.7rem;
  position: absolute;
  left: 2.4rem;
  top: 51.3rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-1-dJc .gender--jsz {
  width: 4.7rem;
  height: 1.7rem;
  position: absolute;
  left: 2.4rem;
  top: 57.8rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-1-dJc .height--ocx {
  width: 4.4rem;
  height: 1.7rem;
  position: absolute;
  left: 23.4rem;
  top: 51.3rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-1-dJc .blood-type--vxU {
  width: 7rem;
  height: 1.7rem;
  position: absolute;
  left: 23.4rem;
  top: 57.8rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-1-dJc .passport-photo--ReL {
  width: 9.2rem;
  height: 1.7rem;
  position: absolute;
  left: 16.9rem;
  top: 64.5rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-1-dJc .pngfind-2-x8U {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 37.9rem;
  top: 22.1rem;
  object-fit: contain;
  vertical-align: top;
}
.iphone-14-15-pro-max-1-dJc .rectangle-32-PUg {
  width: 14rem;
  height: 4.6rem;
  position: absolute;
  left: 14.6rem;
  top: 71.3rem;
  background-color: #529dd2;
  border-radius: 0.7rem;
}
.iphone-14-15-pro-max-1-dJc .submit-VXi {
  width: 6.3rem;
  height: 2.1rem;
  position: absolute;
  left: 18.5rem;
  top: 72.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #ffffff;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-1-dJc .select-ccL {
  width: 3.2rem;
  height: 1.6rem;
  position: absolute;
  left: 3.1rem;
  top: 53.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #b8b8b8;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-1-dJc .select-XzC {
  width: 3.2rem;
  height: 1.6rem;
  position: absolute;
  left: 3rem;
  top: 60.7rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #b8b8b8;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-1-dJc .select-GB6 {
  width: 3.2rem;
  height: 1.6rem;
  position: absolute;
  left: 24rem;
  top: 60.7rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #b8b8b8;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-1-dJc .import-image-mNk {
  width: 7.6rem;
  height: 1.6rem;
  position: absolute;
  left: 17.7rem;
  top: 67.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #b8b8b8;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-1-dJc .arrow-5-gkc {
  width: 0;
  height: 0.2236rem;
  position: absolute;
  left: 18.4rem;
  top: 54.8rem;
  object-fit: contain;
  vertical-align: top;
}
.iphone-14-15-pro-max-1-dJc .arrow-6-bMn {
  width: 0;
  height: 0.2236rem;
  position: absolute;
  left: 18.4rem;
  top: 61.5rem;
  object-fit: contain;
  vertical-align: top;
}
.iphone-14-15-pro-max-1-dJc .arrow-7-L4U {
  width: 0;
  height: 0.2236rem;
  position: absolute;
  left: 39.2rem;
  top: 61.6rem;
  object-fit: contain;
  vertical-align: top;
}
.iphone-14-15-pro-max-1-dJc .ft-0-in-sq6 {
  width: 4.2rem;
  height: 1.2rem;
  position: absolute;
  left: 24rem;
  top: 53.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  color: #b8b8b8;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
